<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <!-- <html class="no-js"> --> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  <link type="text/css" rel="stylesheet" href="/static/css/CTOthis.css" >
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <script src="/static/js/CTOthis.js"></script>
</head>
<body data-speed="2">
  <div class="fill cto-navbar" >
    <ul class="left showOnPage2" id="scrollUp">
      <li >
        <a href="#" >CTO This</a>
      </li>
    </ul>
    <ul class="right" id="top-bar-right">
      <li>
        <a href="#"><br>Subscribe</a>
      </li>
      <li>
        <a href="#"><br>Contact</a>
      </li>
      <li>
        <a href="#"><br>About</a>
      </li>
    </ul>
  </div>
  <div class="page_body" id="page1">
    <div class="main-title">
      CTO <hr><p style="font-size:100px;tex-align:center;font-weight:bold;color:white;">This</p>
    </div>
    <br>
    <br>
    <button class="circle-button scrollDown">
    <img src="/static/images/downIcon.png" style="width:100%;"alt="">
    </button>
    
  </div>
  <div class="second_page_body" id="page2">
    
  </div>
</body>
</html>